<%= render 'partials/header' %>







<div class="secondary-top-container">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<h2 class="secondary-title">Team Philisophy</h2>
	<p>The philosophy of the Skeeters baseball club, is to provide a positive learning environment and strong foundation for these young players with organized practices, good fundamentals, sportsmenship, and character that these young players can carry with them in whatever they choose in life. With the help and training from the PCA (positive coaching alliance). This Club will follow the E.L.M. Tree method of coaching, which does not focus solely on talent, but the effort that is put forth to achive each individuals goals of becoming a better player and person.</p>

	<p>E if for Effort. We’ll give our best effort in every practice and game. It’s more important to me that we try our hardest than if we win. If we win without giving it our best effort, that win doesn’t mean much. But if we play a strong team and try our hardest and lose, I’ll still be proud of our team.</p>

	<p>L is for Learning. Let’s continue learning and improving every time we come out here. If we continue to learn, we will get better. Getting better than we are now is more important than whether or not we are better than some other team. We can also think of this as competing with ourselves; if we get better than we used to be, then we are winning that competition.</p>

	<p>M is for Mistakes. Nobody likes to make mistakes, but mistakes are part of learning. 
	You can’t learn without making mistakes, because to learn you have to try things that are new and challenging, so of course you are going to make mistakes. On our team, it is okay to make mistakes.</p>

	<p>Our team will have a Mistake Ritual called Flushing Mistakes. If you make a mistake, flush it by making a motion with your arm like you are flushing a toilet so the mistake goes away. If you look at me and your teammates after a mistake, we should all make that flushing motion, too. We want to learn from our mistakes and not let them discourage us or keep us from working hard.</p>
			</div>
		</div>
	</div>
</div>